/* RULES */
.rules {
 display: grid;
 grid-template-columns: 1fr 1fr;
 padding: 60px;
 background-image: url("images/bg-grid.png");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 align-items: center;
 height: 100%;
}
.rules-text {
  max-width: 500px;
  color: black;
  padding: 25px;
 }
.rules-img {
  display: flex;
  justify-content: center
 }  
.rules-img img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

 
/* ========================= */
/*  RESPONSIVE  🔥) */
/* ========================= */

/* CELULAR */

@media (max-width: 768px) {


  .rules {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 30px;
    background-size: 90%;
   
  }

  .rules-img img {
    width: 250px;
    max-width: 100%;
    height: auto;
  }

}
